*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    align-items: center;
    display: flex;
    justify-content: center;
}
.counter  {
    display: flex;
    align-items: baseline; 
    text-align: center;
    padding: 1px;
    background: rgb(233, 249, 255);
    border: 1px solid skyblue;
    border-radius: 5px;
}
.counter h3{
    color: skyblue;
}
.suminfo {
    text-align: center;
    color: skyblue;  
    margin-top: 20px;
    padding: 10px ;
}

.counter >*{
    height: 100%;
    margin: 10px;
    /* flex: 1; */
    font-size: 28px;
}
.counter button{
  background-color: skyblue;
  color: white;
  padding: 5px 20px;
  border: 1px solid skyblue;
  border-radius: 10px;
}
.counter button:hover{
    background: white;
    color: skyblue;
}
.suminfo button {
    font-size: 15px;
}
.suminfo button{
  background-color: white;
  color: skyblue;
  padding: 5px 20px;
  border: 1px solid skyblue;
  border-radius: 10px;
  font-size: 15px ;
}
.suminfo button:hover{
    background: skyblue;
    color: white;
}
